<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeckoFlux"
        android:hardwareAccelerated="true"
        tools:targetApi="34">

        <!-- GeckoTube Activity -->
        <activity
            android:name=".TubeActivity"
            android:enabled="${tubeEnabled}"
            android:exported="true"
            android:label="@string/app_name_tube"
            android:icon="@mipmap/ic_launcher_tube"
            android:roundIcon="@mipmap/ic_launcher_tube_round"
            android:taskAffinity="${applicationId}.tube"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GeckoMusic Activity -->
        <activity
            android:name=".MusicActivity"
            android:enabled="${musicEnabled}"
            android:exported="true"
            android:label="@string/app_name_music"
            android:icon="@mipmap/ic_launcher_music"
            android:roundIcon="@mipmap/ic_launcher_music_round"
            android:taskAffinity="${applicationId}.music"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Legacy MainActivity alias (for backward compatibility) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>